.destinations {
}

.destinations-form__label {
  /* margin-bottom: 15px; */
}

.destinations__selector {
  margin-top: 15px;
  display: flex;
  gap: 5%;
}

.destinations__list {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; */
  /* align-items: center; */
}

.destinations__place {
  gap: 10px;
}
