.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 0 auto;
  width: calc(100% - 200px);
  margin-top: 50px;
  max-width: 1100px;
}

.header__description {
  margin: 20px auto;
  width: calc(100% - 200px);
  font-size: 20px;
  max-width: 1100px;
}

.header__map {
    display: flex;
    flex-direction: column;
  }
  
  .header__map-image {
    margin: 0 auto;
    width: calc(100% - 200px);
    max-width: 1100px;
  }
  
  .header__map-next-btn {
    margin: 10px auto;
    width: calc(100% - 200px);
    max-width: 1100px;
  }

@media screen and (max-width: 620px) {
  .header__title {
    margin: 0;
    width: 100%;
    max-width: 1100px;
  }

  .header__description {
    margin: 20px 0;
    width: 100%;
    max-width: 1100px;
  }

  .header__map-image {
    margin: 0;
    width: 100%;
    max-width: 1100px;
  }
}
