.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 0 auto;
  width: calc(100% - 200px);
  margin-top: 50px;
  max-width: 1100px;
}

.header__description {
  margin: 20px auto;
  width: calc(100% - 200px);
  font-size: 20px;
  max-width: 1100px;
}

.header__map {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
}

.header__map-image {
  margin: 0 auto;
  width: calc(100%);
  max-width: 1100px;
}

.header__map-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__map-data__title {
  font-size: 24px;
}

.header__paragraph {
  font-size: 18px;
}

.header__map-comparison {
  margin: 0 auto;
}

.header__map-next-btn {
  margin: 10px auto;
  width: calc(100% - 200px);
  max-width: 1100px;
  height: 45px;
}

.header__map-data__attraction {
  display: column;
  margin-bottom: 0;
}

.header__map-data__attraction__name {
  margin: 0;
}

.header__map-data__distance-to-attraction {
  margin: 0;
}

@media screen and (max-width: 620px) {
  .header__title {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
  }

  .header__description {
    margin: 20px auto;
    width: 90%;
    max-width: 1100px;
  }

  .header__map {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
  }

  .header__map-data {
    flex-direction: column;
  }

  .header__map-data__title {
    font-size: 18px;
  }

  .header__paragraph {
    font-size: 14px;
  }
}
