.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 0 200px;
  width: calc(100% - 400px);
  margin-top: 50px;
}

.header__description {
  margin: 20px 200px;
  width: calc(100% - 400px);
  font-size: 20px;
}

.header__image {
  margin: 0 200px;
  width: calc(100% - 400px);
}
